<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">


	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost"></property>
		<property name="username" value="root"></property>
		<property name="password" value="82277800"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>

		<property name="mappingResources">
			<list>
				<value>bean/Users.hbm.xml</value>
				<value>bean/News.hbm.xml</value>
				<value>bean/Userscheck.hbm.xml</value>
				<value>bean/Admin.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />

	<bean id="baseDAO" class="dao.BaseDAO" abstract="false" lazy-init="default"
		autowire="default">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="userBasicDao" class="dao.UserBasicDAOImp" parent="baseDAO"
		abstract="false" lazy-init="default" autowire="default">
	</bean>
	<bean id="loginAction" class="action.LoginAction" abstract="false"
		lazy-init="default" autowire="default">
		<property name="dao" ref="userBasicDao"></property>
	</bean>

	<!-- DAO -->
	<bean id="usersDAO" class="dao.UsersDAO" parent="baseDAO"
		abstract="false" lazy-init="default" autowire="default">
	</bean>
	<bean id="adminDAO" class="dao.AdminDAO" parent="baseDAO"
		abstract="false" lazy-init="default" autowire="default">
	</bean>
	<bean id="userscheckDAO" class="dao.UserscheckDAO" parent="baseDAO"
		abstract="false" lazy-init="default" autowire="default">
	</bean>
	<bean id="newsDAO" class="dao.NewsDAO" parent="baseDAO" abstract="false"
		lazy-init="default" autowire="default">
	</bean>

	<!-- serviceImpl -->
	<bean id="usersService" class="serviceImpl.UsersServiceImpl">
		<property name="usersDAO" ref="usersDAO"></property>
	</bean>
	<bean id="adminService" class="serviceImpl.AdminServiceImpl">
		<property name="adminDAO" ref="adminDAO"></property>
	</bean>
	<bean id="userscheckService" class="serviceImpl.UserscheckServiceImpl">
		<property name="userscheckDAO" ref="userscheckDAO"></property>
	</bean>
	<bean id="newsService" class="serviceImpl.NewsServiceImpl">
		<property name="newsDAO" ref="newsDAO"></property>
	</bean>

	<!-- action -->
	<bean id="usersAction" class="action.UsersAction">
		<property name="usersService" ref="usersService">
		</property>
	</bean>
	<bean id="adminAction" class="action.AdminAction">
		<property name="adminService" ref="adminService">
		</property>
	</bean>
	<bean id="userscheckAction" class="action.UserscheckAction">
		<property name="userscheckService" ref="userscheckService">
		</property>
	</bean>
	<bean id="newsAction" class="action.NewsAction">
		<property name="newsService" ref="newsService">
		</property>
	</bean>


</beans>